/*  your css code here. If applicable */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	padding-bottom: 10px;
}
.grid-item{
	border: 1px solid black;
	padding: 10px;
}